.containera{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    margin-top: 200px;
    background:#07cea3;
    padding-bottom: 30px;
    border-radius: 5%;

}
.headera{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
    color: #021b16;
}
.texta{
    color:#0b0c0c;
    font-size: 48px;
    font-weight: 700;
}


.inputs{
      margin-top: 55px;
      display: flex;
      flex-direction: column;
      gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: azure;
    border-radius: 5px;
}
.input input{
    align-items: center;
    text-align: center;
    height: 500px;
    width: 500px;
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-size: 24px;
}
.forgotpassword{
       padding-left: 65px;
       margin-top: 27px;
       color: #fafafa;
       font-size: 23px;
}
.forgotpassword span{
    color: #f4f7f6;
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #083b30;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.gray{
    background: azure;
    color: #676767;
}
.button{
    height: 100px;
    width: 100px;
    background: transparent;
    border: none;
    outline: none;
    color: #050505;
    font-size: 19px;
}