.logo{
    height: 150px;
    width: 275px;
    margin: 10px;
    cursor: pointer;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: azure;
}

.navbar ul{
    list-style: none;
    text-align: center;
    flex: 1;
    margin-left: 400px;
}

.navbar ul li{
    display: inline-block;
    justify-content:flex-end;
    margin: 10px 20px 10px 100px;
    align-items:end;
    font-size: 20px;
    cursor: pointer;
}

.signup{
    color: #31B699;
}

.signup:hover{
    color:#146453;
}